<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVien.My.MySettings.ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=DESKTOP-0LFAVEB\SQLEXPRESS;Password=bts1306;User ID=sa;Initial Catalog=QLTV"
            providerName="System.Data.OleDb" />
        <add name="QLTVConnectionString"
            connectionString="Data Source=DESKTOP-0LFAVEB\SQLEXPRESS;Initial Catalog=QLTV;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>		
</configuration>